Title: Generic control file.
# This is a generic CONTROL file. Please adjust to your requirement.
# Directives which are commented are some useful options.

ensemble npt lang 3 1 
pressure 100.00 
temperature 500.0

# Perform zero temperature run (really set to 10K)
#zero

# Cap forces during equilibration, in unit kT/angstrom.
# (useful if your system is far from equilibrium)
#cap 1000.0

# Increase array size per domain
#densvar 10 %

# Bypass checking restrictions and reporting
#no index
#no strict
#no topolgy

steps 100000
scale every 10
equilibration steps 00 
timestep 0.0005

cutoff 2.0
ewald precision 1e-6

# Need these for bond constrains
#mxshak 100
#shake 1.0e-6

# Continue MD simulation
#restart

plumed input umbrella.dat

traj 1 200 0
print every 1000
stats every 1000
job time 1.4000E+100
close time 1.0000E+100
finish
