Title: Generic control file.
# This is a generic CONTROL file. Please adjust to your requirement.
# Directives which are commented are some useful options.

ensemble nvt evans
temperature 100.0

# Perform zero temperature run (really set to 10K)
#zero

# Cap forces during equilibration, in unit kT/angstrom.
# (useful if your system is far from equilibrium)
#cap 1000.0

# Increase array size per domain
#densvar 10 %

# Bypass checking restrictions and reporting
#no index
#no strict
#no topolgy

steps 100000
equilibration steps 1
scale every 2
timestep 0.0005

cutoff 4.9
ewald precision 1e-6

# Need these for bond constrains
#mxshak 100
#shake 1.0e-6

# Continue MD simulation
#restart
plumed input umbrella.dat


cap           1.0000E+04
shake tolerance         1.0000E-05
quaternion tolerance    1.0000E-05
#print rdf
job time	1.4000E+08
close time 	1.0000E+05
finish
